body{
    display: flex;
    background-color: black;
    font-family: Helvetica;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    margin-top: 5%;
}

h1{
    /* display: flex;
    position: relative;
    top: 0; */
    color: blanchedalmond;  

}

.content{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    grid-row-gap: 5px;
    /* height: 60vh; */

}


.content-values{
    white-space: nowrap;
    overflow: auto;
}


.userentry, .result{
    display: flex;
    color: blanchedalmond;
    font-size: 20px;
    border-style:inset;
    border-radius: 30px;
    width: 220px;
    justify-content: flex-end;
    padding: 10px;
    height: 20px;
    text-overflow: clip;
}

button{
    font-size: 20px;
    padding: 15px;
    border-radius: 25px;
    width: 23.5%; 
    box-shadow: 0 4px #999;  
    transition-duration: 0.4s;
    border: 2px solid grey;

}

button:hover {
    background-color:#008CBA; 
    color: white;
}

button[class*='operator']{
    background-color: goldenrod;
}


.row5 .zero{
    width: 110px;
    justify-content: center;
}


.footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: goldenrod;
    color: white;
    justify-content: center;
    align-self: flex-end;
    margin-top: 50px;
  }

